.expo
.vscode
node_modules
yarn-error.log
yarn.lock
package-lock.json

# Web
web-build
web-report

# Electron
dist

# Gatsby
.cache
with-gatsby/public

# Next.js
.next
with-nextjs/out

# Native
*/ios/Pods

# Websockets
*/backend/.env

.DS_Store
report.html

# Maintenance logs
.sdk-upgrade-logs